In [103]:
pwd

'C:\\Users\\TECH2_14\\DS_yjh\\2023-02-02\\05) chipotle.tsv-intermediate'

In [8]:
import pandas as pd
import numpy as np

In [9]:
chipo_df = pd.read_csv('./chipotle.tsv', sep='\t')
chipo_df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [10]:
chipo_df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [11]:
## q1. 데이터의 정보를 확인해주세요

In [12]:
chipo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [13]:
## q2. quantity의 값이 3이상인 데이터들을 호출하고
## 전체 수가 얼마인지 출력해주세요.

In [104]:
chipo_df[chipo_df.quantity>3].info()
chipo_df[chipo_df.quantity>3]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1254 to 4491
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            15 non-null     int64
 1   quantity            15 non-null     int64
 2   item_name           15 non-null     object
 3   choice_description  6 non-null      object
 4   item_price          15 non-null     object
 5   new_price           15 non-null     object
dtypes: int64(2), object(4)
memory usage: 840.0+ bytes

,order_id,quantity,item_name,choice_description,item_price,new_price
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
1257,511,4,Chips and Fresh Tomato Salsa,NaN,$11.80,11.80
1425,577,4,Bottled Water,NaN,$6.00,6.00
1880,759,4,Bottled Water,NaN,$6.00,6.00
2235,901,4,Canned Soda,[Sprite],$4.36,4.36
2441,970,5,Bottled Water,NaN,$7.50,7.50
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
3599,1443,7,Bottled Water,NaN,$10.50,10.50
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
3887,1559,8,Side of Chips,NaN,$13.52,13.52
3973,1592,4,Canned Soft Drink,[Coke],$5.00,5.00
4152,1660,10,Bottled Water,NaN,$15.00,15.00
4489,1786,4,Chips and Guacamole,NaN,$17.80,17.80
4490,1786,4,Canned Soft Drink,[Coke],$5.00,5.00
4491,1786,4,Canned Soft Drink,[Sprite],$5.00,5.00

In [17]:
## q3. item_price의 컬럼의 달러표시 문자를 없애고, float64bit 타입으로
## 저장하여 new_price를 컬럼으로 하여 넣어주세요.

In [111]:
chipo_df['new_price'] = chipo_df.item_price.str[1:].astype('float64')
chipo_df

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [ ]:
chipo_df.item_price.str.replace(pat='$',repl='', regex=False)
chipo_df.astype({'new_price':'float64'})

print(chipo_df.dtypes)
chipo_df

In [94]:
## q4. new_price의 컬럼값이 5이하인 데이터프레임을 추출하고 그 수를 구해주세요.

In [113]:
chipo_df[chipo_df.new_price <=5].shape[0]

1652

In [19]:
## q5. new_price의 컬럼값이 9이하이고 item_name값이 Chicken Salad Bowl인 데이터
## 프레임을 추출해주세요.

In [114]:
## q5. new_price의 컬럼값이 9이하이고 item_name값이 Chicken Salad Bowl인 데이터
chipo_df[(chipo_df.new_price <= 9)& (chipo_df.item_name=='Chicken Salad Bowl')].reset_index()

,index,order_id,quantity,item_name,choice_description,item_price,new_price
0,44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
1,256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
2,526,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
3,528,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
4,529,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
5,568,234,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$8.75,8.75
6,585,240,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$8.75,8.75
7,693,286,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Sour Cream, Cheese, Lett...",$8.75,8.75
8,702,289,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$8.75,8.75
9,762,314,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
10,1109,458,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
11,1460,592,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$8.75,8.75
12,1471,598,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
13,1483,602,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
14,1547,628,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
15,1601,649,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
16,1621,654,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
17,1756,709,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$8.75,8.75
18,1977,798,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$8.75,8.75
19,2031,818,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75
20,2113,850,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$8.75,8.75
21,2224,896,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Sour Cream,...",$8.75,8.75
22,2314,926,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",$8.75,8.75
23,2728,1083,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75
24,2858,1136,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
25,2883,1145,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
26,2897,1152,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, Cheese]",$8.75,8.75
27,2989,1189,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
28,3033,1206,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$8.75,8.75
29,3069,1222,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$8.75,8.75
30,3117,1243,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75,8.75
31,3259,1305,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
32,3261,1305,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
33,3310,1327,1,Chicken Salad Bowl,[Fresh Tomato Salsa],$8.75,8.75
34,3315,1329,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",$8.75,8.75
35,3381,1357,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$8.75,8.75
36,3411,1368,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Lettuce]]",$8.75,8.75
37,3623,1450,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75,8.75
38,3656,1461,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
39,3706,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Chees...",$8.75,8.75
40,3712,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",$8.75,8.75
41,3790,1517,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
42,3798,1521,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
43,3974,1592,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Lettu...",$8.75,8.75
44,3997,1601,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
45,4012,1606,1,Chicken Salad Bowl,[Fresh Tomato Salsa],$8.75,8.75
46,4035,1615,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
47,4064,1627,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
48,4205,1679,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",$8.75,8.75
49,4207,1679,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
50,4333,1730,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Cheese]]",$8.75,8.75
51,4352,1738,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$8.75,8.75
52,4439,1769,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
53,4520,1797,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$8.75,8.75
54,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
55,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [20]:
## q6. 데이터 프레임 new_price의 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화하라

In [24]:
## q7. 데이터 프레임의 item_name컬럼 값 중에서 Steak가 포함된 경우의 데이터의 수를 구해주세요.

In [25]:
## q8. 데이터 프레임 new_price 컬럼값에 따라 내림차순으로 정리하고 index를 초기화해주세요.

In [26]:
## q9. 데이터 프레임 new_price 값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱해주세요.

In [29]:
## q10. 데이터 프레임 item_name에서 '6 Pack Soft Drink'의 값을 'pepsi'로 변형해주세요.

In [115]:
chipo_df.item_name.apply(lambda x : 'pepsi' if x =='6 Pack Soft Drink' else x)

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

In [116]:
# 2- loc를활용
chipo_df.loc[chipo_df.item_name=='6 Pack Soft Drink','item_name']

298     6 Pack Soft Drink
341     6 Pack Soft Drink
357     6 Pack Soft Drink
388     6 Pack Soft Drink
417     6 Pack Soft Drink
553     6 Pack Soft Drink
639     6 Pack Soft Drink
721     6 Pack Soft Drink
743     6 Pack Soft Drink
879     6 Pack Soft Drink
1026    6 Pack Soft Drink
1051    6 Pack Soft Drink
1124    6 Pack Soft Drink
1167    6 Pack Soft Drink
1260    6 Pack Soft Drink
1279    6 Pack Soft Drink
1392    6 Pack Soft Drink
1755    6 Pack Soft Drink
1758    6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
1916    6 Pack Soft Drink
1922    6 Pack Soft Drink
1937    6 Pack Soft Drink
1976    6 Pack Soft Drink
2108    6 Pack Soft Drink
2232    6 Pack Soft Drink
2374    6 Pack Soft Drink
2389    6 Pack Soft Drink
2713    6 Pack Soft Drink
2793    6 Pack Soft Drink
2860    6 Pack Soft Drink
3010    6 Pack Soft Drink
3132    6 Pack Soft Drink
3141    6 Pack Soft Drink
3389    6 Pack Soft Drink
3422    6 Pack Soft Drink
3600    6 Pack Soft Drink
3614    6 Pack Soft Drink
3633    6 Pack Soft Drink
3693    6 Pack Soft Drink
3766    6 Pack Soft Drink
3789    6 Pack Soft Drink
3806    6 Pack Soft Drink
3836    6 Pack Soft Drink
3875    6 Pack Soft Drink
3886    6 Pack Soft Drink
4169    6 Pack Soft Drink
4174    6 Pack Soft Drink
4359    6 Pack Soft Drink
4363    6 Pack Soft Drink
4522    6 Pack Soft Drink
4527    6 Pack Soft Drink
4535    6 Pack Soft Drink
Name: item_name, dtype: object

In [30]:
## q11. 전체 결측값(Missing Value)에 대한 갯수를 구하고, 그 값을 'N'으로 대체해주세요.

In [128]:
chipo_df.isna().sum()
chipo_df

0                                                       N
1                                            [Clementine]
2                                                 [Apple]
3                                                       N
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

In [31]:
## q12. 데이터 프레임에서 choice_description 컬럼 값에서 Black이 들어가지 않는 경우를 인덱싱 해주세요.

In [32]:
## q13. 데이터 프레임에서 item_name 값의 단어의 수가 15개 이상인 데이터를 인덱싱 해주세요.

In [33]:
# end of file